/* post introduction div formatting */
.intro-div {
    border: 1px solid black;
    padding-top: 15px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 18px;
}

.jumbotron {
    border: 1px solid black;
    padding: 15px;
    padding-bottom: 0px;
    text-align: center;
    align-items: center;
}

.grid-container {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 15px;
}

.item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.item3 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.jumbotron-icon{
    font-size: 50px;
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
}

.about-image-container {
    margin-top: 1em;
    margin-bottom: -1em;
}

.btn-primary{
    background-color: #C8102E;
}

.metadata-grid-container {
    display: grid;
    grid-auto-columns: minmax(0, 1fr);
    grid-auto-flow: column;
    gap: 15px;
    justify-items: center;
    text-align: center;
    margin-top: -2.5em;
    padding-top: 2em;
    align-items: center;
}

.metadata-value {
    margin-top: -0.8em;
}

.metadata-item1 {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
}

.metadata-item2 {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.metadata-item3 {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
}

.metadata-item4 {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}

.grid-logo {
    width: 80%;
    padding-left: 5%;
}

.grid-intro-section{
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    margin-top: -2em;
    padding: 15px;
    padding-bottom: 0px;
}

.grid-graph-p {
    text-align: justify;
}

.grid-graphs-table th {
    text-align: center;
}

.grid-graphs-table tr {
    text-align: center;
}

.grid-graphs-table td {
    text-align: center;
}

div.grid-graphs-sources-and-icon {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 1em;
}

div.grid-graphs-sources {
  font-size: 13px;
  color: #A9A9A9;
  float: left;
}

div.grid-graphs-icon-high {
  font-size: 13px;
  color: white;
  float: right;
}

span.high-text-with-background {
    display: inline;
    background-color: #008000;
    padding: 2px;
    border: 1px solid #000000;
}

/* turn off table references */
.quarto-float-caption-top {
    visibility: hidden;
    height: 0px;
}